.hotels-page {
  padding: 2rem;
  text-align: center;
  position: relative; /* For positioning the background image if applied here */
  overflow: hidden;
}

.hotels-page h1 {
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Times New Roman', serif;
  background-color: rgba(0, 0, 0, 0.36);
}

.category-buttons {
  margin-bottom: 20px;
}

.category-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #1572b8;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Times New Roman', serif;
  transition: background-color 0.3s ease;
}

.category-buttons button:hover {
  background-color: #54a0b7;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

.hotel-card {
  width: 250px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: white; /* Set hotel card background to white */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition for zoom and shadow */
}

.hotel-card:hover {
  transform: scale(1.03); /* Slight zoom on hover */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.hotel-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.hotel-card h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'Times New Roman', serif;
}

.hotel-card p {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  font-family: 'Times New Roman', serif;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
}

.search-input {
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  font-family: 'Times New Roman', Times, serif;
}

.search-button:hover {
  background-color: #60c6f9;
}
